.body {
    background: #d9ff00;
    background: linear-gradient(to right, #5ed441, #d9ff00);
    height: 100vh;
  }
  
  .btn-login {
    font-size: 0.9rem;
    letter-spacing: 0.05rem;
    padding: 0.75rem 1rem;
  }
  
  .btn-google {
    color: white !important;
    background-color: #5ed441;
  }
  
  .btn-facebook {
    color: white !important;
    background-color: #903b98;
  }

  .fondo{
    background: linear-gradient(to right, #d9ff00, #5ed441);
  }
  .fondo2{
    background: linear-gradient(to right, #d9ff00, #5ed441);
  }
  